@model QLP_Gym.ViewModel.MultipleData
@{
    ViewBag.Title = "SuaHV";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>Sửa Hội Viên</title>
    <link href="~/css/goitap.css" rel="stylesheet" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Sửa Hội Viên
        </div>
        <form method="post" action="SuaHV">
            @foreach (var item in Model.hoiViens)
            {
                <label>Tên TV</label>
                <select id="disease-list" name="id_TV">
                    @foreach (var item2 in Model.thanhViens)
                    {
                        <option value="@item2.id_TV" @(item2.id_TV == item.id_TV ? "selected" : "")>@item2.TenTV</option>
                    }
                </select>
                <div class="field">
                    <input type="text" name="TenHV" value="@item.TenHV">
                    <label>Tên Hội viên</label>
                </div>
                <div>
                    <label>Tên Gói Tập</label>
                    <select id="disease-list" name="id_GT">
                        @foreach (var item3 in Model.goiTap)
                        {
                            <option value="@item3.id_GT" @(item3.id_GT == item.id_GT ? "selected" : "")>@item3.TenGoiTap</option>
                        }
                    </select>
                </div>
                <label>Tình Trạng</label>
                <div class="field">
                    <select class="form-control" name="TinhTrang" value="@item.TinhTrang">
                        <option name="TinhTrang" value="true">Hoạt Động</option>
                        <option name="TinhTrang" value="false">Hết Hạn</option>
                    </select>
                </div>
                <div class="field">
                    @if (item.HanGiaNhap.HasValue)
                    {
                        <input type="date" name="HanGiaNhap" value="@item.HanGiaNhap.Value.ToString("yyyy-MM-dd")">
                    }
                    else
                    {
                        <input type="date" name="HanGiaNhap">
                    }
                    <label>Hạn Gia Nhập</label>
                </div>
                <div class="field">
                    <input type="submit" value="Sửa">
                </div>
                <div class="signup-link">
                    <a href="/HoiVien/HoiVien">Quay về trang chủ</a>
                </div>
                <div class="field">
                    <input style="display:none" type="text" name="id_HV" value="@item.id_HV" readonly>
                </div>
                <div class="field">
                    <input style="display:none" type="date" name="NgayGiaNhap" value="@item.NgayGiaNhap?.ToString(" yyyy-MM-dd")" readonly>
                </div>
            }
        </form>
    </div>
</body>
</html>